@media (min-width: 1440px) {
  .container {
    max-width: 1360px;
  }
}

.c-container {
  margin-top: 1rem;
}

.c-card-league {
  width: 18rem;  
  height: 21rem;
  margin-bottom: 1rem;
  z-index: 0;
  box-shadow: rgba(103, 106, 110, 0.479) 5px 0px 5px 0px;
  transition: all .5s ease;
}

.c-card-league:hover {
  box-shadow: rgb(23, 252, 2) 0px 0px 6px 0px;
  border: 0rem;
}

/*
.c-card-img-top {
  width: auto;
  height: auto;  
}
*/

/*
@media (min-width: 34em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

@media (min-width: 62em) {
  .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
  }
}

@media (min-width: 75em) {
  .card-columns {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
  }
}
*/